# File: /know-your-ip-address/know-your-ip-address/.htaccess

RewriteEngine On
RewriteBase /

# Don't rewrite for existing files and directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Route all requests to index.php
RewriteRule ^(.*)$ index.php [QSA,L]